footer {
    background: #000;

    h2 {
        border-left: 10px solid #ff3300;
        padding-left: 20px;
        font-family: 'Black Han Sans', sans-serif;
    }

    img {
        max-width: 150px;
    }

    hr {
        background: #fff;
    }

    .socials {
        a {
            padding-right: 10px;
            img {
                width: 30px;
                filter: grayscale(5);
            }
        }
    }
}