article.services {
    position: relative;
    background: #ffffff;
    min-height: 100vh;
    max-height: 100%;

    .curve {
        position: absolute;
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            opacity: .4;

            &:nth-of-type(1) {
                width: 20%;
                top: 0;
                transform: rotateZ(40deg);
            }

            &:nth-of-type(2) {
                width: 15%;
                bottom: 0;
                right: 50px;
            }
        }

        .top {
            top: -4px;
            position: absolute;
            width: 100%;
        }

        .bottom {
            bottom: -2px;
            position: absolute;
            width: 100%;
        }
    }

    .content {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            margin: 100px 0 !important;

            img {
                width: 100%;
                max-width: 300px;
                border-radius: 20px;
                transition: all ease-in-out .3s;
                &:hover {
                    box-shadow: 1px 1px 19px #00000042;
                    transform: translateY(-5px);
                }
            }
        }
    }

}