@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Comfortaa:wght@300&display=swap");
body {
  font-family: "Comfortaa", cursive;
}
body h1 {
  font-family: "Black Han Sans", sans-serif;
}

header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  background: url("../img/1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
header .btn-login {
  background: #fff6;
  border: none;
  z-index: 1;
}
header .bg-black {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, #00000078);
  z-index: 0;
}
header img {
  position: absolute;
}
header img:nth-of-type(1) {
  width: 15%;
  transform: rotateZ(20deg);
  opacity: 0.4;
}
header img:nth-of-type(2) {
  width: 20%;
  transform: rotateZ(20deg);
  bottom: 20px;
  right: 100px;
  opacity: 0.5;
}
header img:nth-of-type(3) {
  width: 7%;
  transform: rotateZ(20deg);
  bottom: 61px;
  left: 75px;
  opacity: 0.2;
}
header article {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
header article h1 {
  font-size: 4.3em;
}
@media (max-width: 650px) {
  header article h1 {
    font-size: 2em;
  }
}
header article input {
  max-width: 400px;
}
@media (max-width: 450px) {
  header article input {
    max-width: 300px;
  }
}
header article button {
  background: #f30212 !important;
}

article.download-app {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/2.png") no-repeat;
  background-position: center;
  background-size: cover;
}
article.download-app .bg-black {
  position: absolute;
  background: linear-gradient(to top, #000, #00000052, #000);
  width: 100%;
  height: 100vh;
  top: -2px;
}
article.download-app .container {
  position: absolute;
  height: 100vh;
  width: 100%;
}
article.download-app .container .content {
  height: 100vh;
}
article.download-app .container .content h1 {
  border-left: 10px solid #f30212;
  padding-left: 20px;
}
article.download-app .container .content img {
  width: 100%;
  border-radius: 10px;
  max-width: 140px;
}

article.services {
  position: relative;
  background: #ffffff;
  min-height: 100vh;
  max-height: 100%;
}
article.services .curve {
  position: absolute;
  height: 100%;
  width: 100%;
}
article.services .curve img {
  position: absolute;
  opacity: 0.4;
}
article.services .curve img:nth-of-type(1) {
  width: 20%;
  top: 0;
  transform: rotateZ(40deg);
}
article.services .curve img:nth-of-type(2) {
  width: 15%;
  bottom: 0;
  right: 50px;
}
article.services .curve .top {
  top: -4px;
  position: absolute;
  width: 100%;
}
article.services .curve .bottom {
  bottom: -2px;
  position: absolute;
  width: 100%;
}
article.services .content {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.services .content .container {
  margin: 100px 0 !important;
}
article.services .content .container img {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}
article.services .content .container img:hover {
  box-shadow: 1px 1px 19px #00000042;
  transform: translateY(-5px);
}

article.city {
  position: relative;
  background: url("../img/3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
}
article.city img {
  position: absolute;
}
article.city img:nth-of-type(1) {
  width: 14%;
  right: 100px;
  top: 30%;
  transform: rotateZ(20deg);
}
article.city img:nth-of-type(2) {
  width: 20%;
  left: 30px;
  bottom: 40px;
}
article.city .bg-black {
  position: absolute;
  background: linear-gradient(to top, #000, #00000066, #000);
  width: 100%;
  height: 100%;
  z-index: 0;
}
article.city .content {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}
article.city .content .container {
  z-index: 1;
  padding-top: 100px !important;
}
article.city .content .container h1 {
  border-left: 10px solid #f30212;
  padding-left: 20px;
}
article.city .content .container h4 {
  margin: 0;
}
article.city .content .container button {
  color: white;
  background: #ff3300;
  margin-top: 100px !important;
}

footer {
  background: #000;
}
footer h2 {
  border-left: 10px solid #ff3300;
  padding-left: 20px;
  font-family: "Black Han Sans", sans-serif;
}
footer img {
  max-width: 150px;
}
footer hr {
  background: #fff;
}
footer .socials a {
  padding-right: 10px;
}
footer .socials a img {
  width: 30px;
  filter: grayscale(5);
}

/*# sourceMappingURL=main.css.map */
